.border-design{
    border-radius: 290px;
}

.position-top{
    position: relative;
    top: -150px;
}

/* .pos-star{
    position: relative;
    top: -40px;
    left: -40px;
} */

#posi-eff{
    position: relative;
    top: -215px;
   
}