.iconHover::before {
    width: 5px;
    background-color: black;
}


.bgSlide{
    position: absolute;
    top: 0;
    width: 100%;
    
}

.layerOver{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0); */
    background-color: #0000;
}